.container {
    text-align: center;
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 130px 1050px 300px;
    grid-template-areas:
      "header"
      "main"
      "footer";
    margin-left: auto;
    margin-right: auto;
  }
  
  .header {
    grid-area: header;
    background-color: black;
    color: white;
  }
  
  .main {
    text-align: center;
    grid-area: main;
    background-color: black;
    color: white;

  }
  
  .footer {
    grid-area: footer;
    background-color: black;
    color: white;
  }
  