.container {
    text-align: center;
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 150px 1350px 340px;
    grid-template-areas:
      "header"
      "main"
      "footer";
    margin-left: auto;
    margin-right: auto;
  }
  
  .header {
    grid-area: header;
    background-color: black;
    color: white;
  }
  
  .main {
    text-align: center;
    grid-area: main;
    background-color: black;
    color: white;

  }
  
  .footer {
    grid-area: footer;
    background-color: black;
    color: white;
  }
  
.title {
  font-size: 50px;
  font-family: Verdana;
  font-weight: normal;
  color: white;
}

.download {
  color: aquamarine;
  font-size: 16px;
}

.verdana_weighted {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

p.gray {
  color: gray;
  font-size: 21px;
}

p.aligright {
  color: grey;
  text-align: right;
  padding-right: 20px;
  font-size: 21px;
}

.download:visited, :active {
  color: aquamarine;
}

